.movieCard{
    display: flex;
    margin-bottom: 10px;
    background-color: white;
}
.left{
    width: 20%;
}
.left img{
    max-width: 100%;
    max-height: 200px;
    margin: auto;
}
.right{
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
}
.title{
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
}
.plot{
    margin: 10px 0;
    height: 55%;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Btn{
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
}
.UnfavouriteBtn{
    background-color: crimson;
}